services:
  fast-api:
    build:
      context: .
      dockerfile: Dockerfile 
    container_name: location_micro_service
    ports:
      - "8085:8085"
    environment:
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_DB={{ postgres_db }}
      - POSTGRES_PORT={{ postgres_port }}
      - POSTGRES_HOST_NAME={{ postgres_host_name }}
      - JWT_SECRET_KEY={{ jwt_secret_key }}
      - JWT_ALGORITHM={{ jwt_algorithm }}
      - REDIS_HOST={{ redis_host }}
      - REDIS_PORT={{ redis_port }}
    depends_on: 
      - postgres
      - redis_db
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8085
    volumes:
      - ./app:/app/app

  postgres:
    image: postgres:latest
    container_name: postgres_container
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_DB={{ postgres_db }}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis_db:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"  # Port mapping
    volumes:
      - redis_data:/data

volumes:
  redis_data:
